@import 'variables';
@import 'bootstrap_variables';
@import 'mixins';
@import 'bootstrap';
@import 'font-awesome';

html,
body {
    -webkit-font-smoothing: antialiased;
}

body {
    margin-top: 73px;

    @include small {
        margin-top: 102px;
    }
}

.container {
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}
